<div *ngIf="model && model.attribute" [ngSwitch]="model.attribute.type" class="form-group">
    <flexibus-attribute-input *ngSwitchCase="flexibusType.STRING" [model]="model"></flexibus-attribute-input>
    <flexibus-attribute-dictionary *ngSwitchCase="flexibusType.DICTIONARY"
                                   [model]="model"></flexibus-attribute-dictionary>
    <flexibus-attribute-geometry *ngSwitchCase="flexibusType.GEOMETRY"
                                 [model]="model"></flexibus-attribute-geometry>
    <div *ngSwitchDefault>No component available</div>
</div>
