<div class="guiPartDiv">
    <div *ngIf="userContext">
        <div>
            <label>foo: </label>
            <input [(ngModel)]="userContext.userName" placeholder="FooTest">
        </div>
        <h1>{{userContext.userName}} details!</h1>
        <span>svg component with d3js</span>
    </div>
    <div id="svganchor"></div>
    <ul>
        <li *ngFor="let userRight of userContext.userRights" (click)="onSelect(userRight)">
    <span>
      {{userRight}}
    </span>
            <button (click)="goToRight(userContext)">Go To</button>
        </li>
    </ul>
</div>

