<div>
    <div>
        <button class="left-button" (click)="onLeftClick()"><</button>
        <img *ngIf="currentLeftPhoto" class="little-img" [src]="currentLeftPhoto.url"/>
        <img *ngIf="currentCenterPhoto" class="big-img" [src]="currentCenterPhoto.url"/>
        <img *ngIf="currentRightPhoto" class="little-img" [src]="currentRightPhoto.url"/>
        <button class="right-button" (click)="onRightClick()">></button>
    </div>
    <div *ngIf="allPhotos">
        <label class="counter-lbl">{{currentIdx + 1}}/{{allPhotos.length}}</label>
    </div>
</div>