<div>
    <div>
        <h1>A Polymer Form</h1>

        <div [formGroup]="myForm">
            <div class="form-group" [ngClass]="{'has-error' : myForm.controls['firstName'].errors != null}">
                <label class="control-label" for="firstName">First name</label>
                <input placeholder="The first name of the wise guy" id="firstName" class="form-control" type="text"
                       formControlName="firstName">
            </div>
            <div class="form-group" [ngClass]="{'has-error' : myForm.controls['lastName'].errors != null}">
                <label class="control-label" for="lastName">Last name</label>
                <input placeholder="The last name of the bad guy" id="lastName" class="form-control" type="text"
                       formControlName="lastName">
            </div>
            <div class="form-group" [ngClass]="{'has-error' : myForm.controls['occupation'].errors != null}">
                <label class="control-label" for="occupation">Occupation</label>
                <select placeholder="The famous occupation" id="occupation" class="form-control"
                        formControlName="occupation">
                    <option *ngFor="let ocup of occupations" [value]="ocup">{{ocup}}</option>
                </select>
            </div>
            <div class="form-group" [ngClass]="{'has-error' : myForm.controls['grid'].errors != null}">
                <label class="control-label" for="grid">Position</label>
                <input placeholder="The nice position of the man" id="grid" class="form-control" type="text"
                       formControlName="grid">
            </div>
        </div>
    </div>
</div>

