:host {
    width: 100%;
    height: 100%;
}

#full-left-container, #full-right-container {
    width: 20%;
    height: 100%;

    float: left;
    overflow: auto;

    display: flex;
    flex-direction: row;
}

#left-container, #right-container {
    width: 100%;
    height: 100%;

    float: left;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main-container {
    width: 60%;
    height: 100%;

    float: left;

    display: flex;
    flex-direction: column;
}
