<div class="simple-panel">
    <div class="header">
        <div style="flex-grow: 1;" (click)="displayContent=!displayContent">{{titre}}</div>
        <div [style.direction]="side == sides.Left ? 'ltr' : 'rtl'">
            <i *ngIf="index == 0" title="Masquer le panneau latéral" class="fa" [ngClass]="side == sides.Right ? 'fa-toggle-right' : 'fa-toggle-left'"
               style="width:24px;text-align: center"
               (click)="maskPanelSide()"></i>
            <i *ngIf="index == 0" title="Répartir l'espace entre les panneaux" class="fa fa-arrows-v"
               style="width:24px;text-align: center "
               (click)="equilibrateSizes()"></i>
            <i title="Fermer tous les autres panneaux" class="fa fa-arrows-alt" style="width:24px;text-align: center"
               (click)="maximizeSize()"></i>
        </div>
    </div>

    <!-- TODO TBA : Ici il faut choisir si on utilise un ngIf ou un hidden -->
    <div class="content" *ngIf="displayContent">
        <div *contentLoader="panelContentType"></div>
    </div>
</div>