:host(.active) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

:host {
    display: flex;
    flex-shrink: 0;
}

.simple-panel {

}

.simple-panel .header {

}

.simple-panel .header.normal {
    background-color: cornflowerblue;
    color: white;
}

.simple-panel .header.warning {
    background-color: coral;
    color: black;
}

.simple-panel .header.error {
    background-color: crimson;
    color: white
}