:host(.active) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0
}

:host {
    display: flex;
    flex-shrink: 0;
}

.simple-panel {

}

.simple-panel .header {
    background-color: cornflowerblue;
    color: white;
}