:host(.active) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0
}

:host {
    display: flex;
    flex-shrink: 0;
}

.simple-panel {
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    min-height: 0
}

.simple-panel > .header {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    flex-shrink: 0;
    display: flex
}

.simple-panel > .content {
    background-color: white;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto
}