<div>
    <h1>A foo Form</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <form id="formControl">
        <div class="form-group has-feedback">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName"  required [(ngModel)]="model.firstName" name="firstName" #spy #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine"
                 class="alert alert-danger">
                First name is required
            </div>
            {{model.firstName}}
            <br>{{spy.className}}
        </div>
        <div class="form-group has-feedback">
            <label for="lastName">Last name</label>
            <input class="form-control" id="lastName" type="text" name="lastName" required [(ngModel)]="model.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label for="occupation">Occupation</label>
            <select class="form-control" id="occupation" required [(ngModel)]="model.occupation" name="occupation">
                <option *ngFor="let p of dictionnary" [value]="p">{{p}}</option>
            </select>
        </div>
        <div class="form-group has-feedback">
            <label>Grid</label> <input class="form-control" type="text" name="coord"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-danger" type="button">Cancel</button>
    </form>
    {{diagnostic}}
</div>

